polyline 
{
    stroke-width: 8;
    stroke: #92C2FF;
    fill: none;  
}

.aggregatePanel polyline{
    stroke-width: 2;
}

.aggregateElements polyline{
    stroke-width: 2;
}

.aggregateElements text.title
{
    font-size: 8px;
    text-anchor: middle;
    alignment-baseline: middle;
}

.invariants text {
    text-anchor: left;
    font-size: 6px;
    stroke-width: 2;
}

.aggregatePanel text
{
    font-size: 6px;
    stroke-width: 2;
}

text
{
    text-anchor: middle;
    alignment-baseline: middle;
}

text.title
{
}


text.layerTitle
{
    font-size: 8px;
}